body {
  background-color: #e2e2e2;
}
#title {
  color: #ffffff;
  position: relative;
  z-index: 1;
  right: 290px;
  font-family: Indie Flower;
  font-size: 40pt;
}
#logo {
  border-radius: 100px;
  position: relative;
  right: 290px;
  bottom: 5px;
  z-index: 0;
  box-shadow: 5px 5px 20px #595959;
}
#title2 {
  color: #ffffff;
  position: relative;
  z-index: 1;
  font-family: Indie Flower;
  right: 290px;
  font-size: 40pt;
}
#moveBox {
  background: linear-gradient(90deg, #aeb1af, #8c8f8e);
  padding-top: 20px;
  border-radius: 10px;
  padding-bottom: 50px;
  margin-right: -100px;
  box-shadow: 5px 5px 5px grey;
  width: 1000px;
}
#moveBoxSub1,
#moveBoxSub2,
#moveBoxSub3,
#moveBoxSub4,
#moveBoxSub5 {
  position: relative;
  left: 100px;
  background: linear-gradient(90deg, #aeb1af, #8c8f8e);
  padding-top: 20px;
  border-radius: 10px;
  padding-bottom: 50px;
  box-shadow: 5px 5px 5px grey;
}

#navBox {
  margin-top: -50px;
  position: relative;
  
}
#navBoxSub1,
#navBoxSub2,
#navBoxSub3,
#navBoxSub4,
#navBoxSub5 {
  margin-top: -50px;
}
#jumbotron-text-center {
  z-index: -1;
  
}
.nav {
  position: relative;
  top: 20px;
  left: 620px;
  background: grey;
  width: 560px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px darkGrey;
  z-index: 2;
}
.nav-item {
  color: white;
}


#welcome {
  text-align: center;
}
#welcome_message/carousel {
  position: relative;
  bottom: 500px;
  right: 200px;
  margin-right: 200px;
  margin-left: 200px;
}
/*Map and Directions*/
#mapcontain {
  background: #ffecb2;
  padding: 20px;
  border: 10px inset #ffecb2;
}
#mapcontain_contain {
  background: #ffecb2;
  padding: 40px;
  border: 10px outset #ffecb2;
  box-shadow: 5px 5px 0px grey;
}
#mapdirectionstitle {
  text-align: center;
}
#descriptionmapdirs {
  text-align: center;
}
#adamtext {
  text-align: center;
  position: relative;
  right: 20px;
}
#right_filler_box {
  background: linear-gradient(#ffecb3, #ffe187);
  width: 300px;
  height: 100%;
  position: relative;
  bottom: 128px;
  left: 252px;
}
#right_filler_box_2 {
  background: linear-gradient(#ffecb3, #ffe187);
  width: 650px;
  height: 850px;
  position: relative;
  bottom: 32px;
}
#adam {
  text-align: center;
}
#right_filler_box_3 {
  background: #e2e2e2;
  width: 460px;
  position: relative;
  bottom: 630px;
  top: 10px;
  border-radius: 20px;
  z-index: 0;
  padding-bottom: 20px;
  box-shadow: -5px 5px 5px grey;
  padding-right: 30px;
  margin-left: 90px;
  margin-right: 10px;
}
#left-filler-box {
  width: 650px;
  height: 850px;
  background: linear-gradient(#ffecb3, #ffe187);
  position: relative;
  right: 500px;
  bottom: 32px;
}
#left-filler-box-2 {
  width: 300px;
  height: 100%;
  background: linear-gradient(#ffecb3, #ffe187);
  position: relative;
  right: 400px;
  bottom: 128px;
}
#this_qtr_up_north {
  text-align: center;
}
.event {
  text-align: center;
  list-style: none;
}
.breaker_line {
  border: 1px solid grey;
  width: 250px;
  position: relative;
  left: 161px;
  bottom: 8px;
}
.breaker_line2 {
  height: 2000px;
  width: 1px;
  border: 1px solid black;
}
#caption {
  text-align: center;
}
#worshiptimes {
  text-align: center;
  background: #ffecb3;
  box-shadow: 5px 5px 5px grey;
  padding-top: 50px;
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 50px;
  margin-left: 40px;
  width: 460px;
  position: relative;
  right: 200px;
  
  top: 20px;
  border-radius: 20px;
}

#table {
  position: relative;
  left: 10px;
}
td,
th {
  padding-bottom: 20px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: linear-gradient(white, grey);
  z-index: 2;
  text-align: center;
}
#line {
  border: 1px solid black;
}
#pictures {
  padding-left: 10px;
  padding-right: 10px;
}
img {
  border-radius: 20px;
  border: 3px solid grey;
  box-shadow: 5px 5px 5px grey;
}
#faq_image {
  box-shadow: 0px 0px 0px white;
  position: relative;
  right: 100px;
}
.faq_text {
  position: relative;
  right: 50px;
}
/*Image fitting for the carousel on index.html*/
#nance {
  width: inherit;
  height: 400px;
}
#L2L19 {
  width: inherit;
  height: 400px;
}
#tweenweek {
  width: inherit;
  height: 400px;
}
#LATrip2 {
  height: 400px;
  width: 100%;
  position: relative;
  right: 20px;
}
#latrip2 {
  position: relative;
  left: 10px;
}
#aVirtualReality {
  height: 400px;
  width: inherit;
}
#inTrainingFitting {
  position: relative;
  right: 0px;
}
#virtualreality {
  position: relative;
  right: 30px;
}
#louisiana {
  position: relative;
  right: 15px;
}
#dads_and_donuts {
  position: relative;
  left: 10px;
}
#goodys {
  height: 400px;
  width: 100%;
  position: relative;
  right: 25px;
}
#spiritual_things {
  position: relative;
  left: 5px;
}
